/*  
  credits of this animations to react-wordle and NYTGames
  @ref: https://github.com/cwackerfuss/react-wordle/blob/main/src/index.css
  @ref: https://www.nytimes.com/games/wordle/index.html
*/

.letter-container {
  animation: offsetLetterFlip linear;
  animation-fill-mode: backwards;
}

.cell-type-animation {
  animation: onLetterType linear;
}

.cell-reveal-animation {
  animation-timing-function: linear;
  animation-fill-mode: backwards;
}

.cell-reveal-animation.not_exists {
  animation-name: revealNonExistingLetter;
}

.cell-reveal-animation.guessed {
  animation-name: revealGuessedLetter;
}

.cell-reveal-animation.exists {
  animation-name: revealExistingLetter;
}

.puzzle_solved {
  animation-name: revealGuessedLetter, Bounce;
  animation-timing-function: linear, ease-in;
  animation-fill-mode: backwards, none;
}

.cell-bounce-animation {
  animation-name: Bounce;
}

.is-invalid {
  animation-name: Shake;
}

@keyframes revealNonExistingLetter {
  0% {
    transform: rotateX(0deg);
    background-color: var(--chakra-colors-gray-100);
    border-width: 2px;
    border-style: solid;
    border-color: var(--chakra-colors-blackAlpha-500);
    color: black;
  }

  50% {
    background-color: var(--chakra-colors-gray-100);
    border-width: 2px;
    border-style: solid;
    border-color: var(--chakra-colors-blackAlpha-500);
    color: black;
  }

  50.1% {
    background-color: var(--chakra-colors-gray-400);
    border-color: var(--chakra-colors-gray-400);
    border: none;
    color: white;
  }

  100% { transform: rotateX(180deg); }
}

@keyframes revealGuessedLetter {
  0% {
    transform: rotateX(0deg);
    background-color: var(--chakra-colors-gray-100);
    border-width: 2px;
    border-style: solid;
    border-color: var(--chakra-colors-blackAlpha-500);
    color: black;
  }

  50% {
    background-color: var(--chakra-colors-gray-100);
    border-width: 2px;
    border-style: solid;
    border-color: var(--chakra-colors-blackAlpha-500);
    color: black;
  }

  50.1% {
    background-color: var(--chakra-colors-green-300);
    border-color: var(--chakra-colors-green-300);
    border: none;
    color: white;
  }

  100% { transform: rotateX(180deg); }
}

@keyframes revealExistingLetter {
  0% {
    transform: rotateX(0deg);
    background-color: var(--chakra-colors-gray-100);
    border-width: 2px;
    border-style: solid;
    border-color: var(--chakra-colors-blackAlpha-500);
    color: black;
  }

  50% {
    background-color: var(--chakra-colors-gray-100);
    border-width: 2px;
    border-style: solid;
    border-color: var(--chakra-colors-blackAlpha-500);
    color: black;
  }

  50.1% {
    background-color: var(--chakra-colors-orange-300);
    border-color: var(--chakra-colors-orange-300);
    border: none;
    color: white;
  }

  100% { transform: rotateX(180deg); }
}

@keyframes offsetLetterFlip {
  0% { transform: rotateX(0deg); }
  100% { transform: rotateX(180deg); }
}

@keyframes onLetterType {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

@keyframes Shake {
  0% { transform: translateX(0); }
  10% { transform: translateX(-1px); }
  20% { transform: translateX(2px); }
  30% { transform: translateX(-4px); }
  40% { transform: translateX(4px); }
  50% { transform: translateX(-4px); }
  60% { transform: translateX(4px); }
  70% { transform: translateX(-4px); }
  80% { transform: translateX(2px); }
  90% { transform: translateX(-1px); }
  100% { transform: translateX(0); }
}

@keyframes Bounce {
  0%, 20% { transform: translateY(0); }
  40% { transform: translateY(-30px); }
  50% { transform: translateY(5px); }
  60% { transform: translateY(-15px); }
  80% { transform: translateY(2px); }
  100% { transform: translateY(0); }
}